body{
    background-image:url('./Images/background12.png');
    background-size: 70rem;
    background-position: top;
    margin:0 18rem !important;
}
p{
    margin-bottom: 0 !important;
}
/* Top nav */
.top-links{
    color:#72757C;
    font-size: x-small;
}
.logo-cart{
    height: 0.8rem;
}
.checkout{
    color:rgba(41, 54, 102,0.6);
    text-shadow:0.02rem 0.01rem  rgba(41, 54, 102,0.5) ;
}
.top-sep{
    border-right:0.01rem solid #72757c;
    opacity: 0.2;
    height:0.8rem;
}

/* nav-bar */
.main-nav{
    margin:0 -18rem !important;
    background-color: #DAD8D9;
}
.nav-bar{
    margin:0 18rem;
}
.nav-lists{
    border-radius: 0 !important;
}
.nav-links{
    color:rgba(1,1,1,0.3);
    text-shadow: -0.025rem 0 rgba(1,1,1,0.6);
    font-size:0.7rem;
}
.nav-sep{
    border:0.01rem solid rgba(255,255,255,0.3);
}

/* Search field */
.search-input{
    height:1rem;
    box-shadow:-0.11rem -0.11rem #72757c;
    font-size:small;
    margin-top: 6px !important;
}
::-webkit-input-placeholder{
    padding-left: 0.3rem;
    font-size: x-small;
    color:rgba(1,1,1,0.7);
}
.search-submit{
    border: 1px solid #72757c;
    border-radius: 5px;
    font-size: x-small;
    background-color: white;
    top:-2px;
}

/* Nav 3 */
.service-nav-lists{
    list-style-type:circle;
    color:rgba(1,1,1,0.5);
}
.service-nav-li-1{
    margin-top:2px !important;
    margin-right: 1px !important;
}
.service-nav-links{
    color:rgba(80, 96, 158,0.9);
    font-size:0.75rem;
}
.bridal{
    margin-right: 2.3rem !important;
}

/* main */
.recipe-img{
    width: 73%;
    background-image: url(./Images/Recipe.jpg);
    background-size:cover;
    border:0.5rem solid white;
}
/* aside */
.dining-content{
    width: 27%;
    background:linear-gradient(to bottom,rgba(42, 40, 40,1),rgba(42, 40, 40,0.95),rgba(54, 53, 53, 0.9),rgba(42, 40, 40, 1));
    border:0.5rem solid white;
    border-left: 0;
}
.dining-header{
    padding-left:0.15rem;
}
.dining-div{
    border:1px solid rgba(255,255,255,0.2);
}
.dining-lists{
    border:none;
    border-bottom:0.05rem solid rgba(255,255,255,0.1);
    padding:0.15rem 0rem !important;
}
.dining-links{
    font-size:0.8rem;
}
.dining-para{
    color:#a8abb5;
    font-size:0.8rem !important; 
    text-shadow:0.03rem 0 #8b8d93;
    padding-left: 0.15rem;
}
.dining-para-link{
    font-size: x-small;
    color:#a8abb5;
    text-shadow:0.03rem 0 #8b8d93;
}

/* Bottom section */
.bottom-section{
    border: 0.5rem solid rgba(46,44,46,1);
    background-color: #fefeff;
}
.bottom-para{
    font-size:0.95rem !important;
    color: rgba(1,1,1,0.7);
}
.para-small{
    font-size: 0.7rem;
    color:rgba(1,1,1,0.5);
}
.bottom-para-link{
    font-size: small;
    color:rgba(80, 96, 158,0.9);
}
.bottom-img{
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: content-box;
}
.bottom-content-div:nth-child(1){
    background-image: url('./Images/promo_glass.png');
    background-position:left;
}
.bottom-content-div:nth-child(2){
    background-image: url('./Images/promo_plates.png');
    background-position: bottom;
}
.bottom-content-div:nth-child(3){
    background-image: url('./Images/promo_album.png');
    background-position: right;
}
/* Bottom section end */

/* footer */
.footer-links{
    color:#8b8d93;
    font-size: 0.63rem;
}
.footer-sep{
    border-right: 1px solid rgba(255,255,255,0.3);
    height:0.5rem;
    margin-top: 0.75rem;
}
.footer-para{
    color:#767779;
    font-size: 0.65rem;
    font-weight:300 !important;
    letter-spacing:1px;
    text-shadow: 0 0.023rem rgba(255,255,255,0.5);
}
.footer-para-right{
    letter-spacing: 0.5px !important;
}
.search-input-bottom{
    width:10.8rem;
    height: 1.1rem;
    border: 1px solid #72757C;
    font-size: x-small;
}
.search-submit-bottom{
    border: 1px solid #72757C;
    border-radius: 5px;
    font-size:0.6rem;

}
/* footer end */

/* utils */
.white-border{
    border:2px solid white;
}
.br{
    border-right:1px solid rgba(1,1,1,.1);
    border-image: linear-gradient(to bottom,rgba(1,1,1,0.1), rgba(122,1,1,0.1) 95%,rgba(255,255,255,1)50%)1;
}
.padding-0{
    padding-left:0.1rem !important;
}
.li-icon{
    padding-bottom:0.30rem;
}
.divider{
    margin:0 -18rem;
    border-bottom: 1px solid rgba(1,1,1,.2);
}
.bor{
    border:1px solid red;
}
/* Util end */
@media screen and (min-width:1px) and (max-width:576px){
    body{
        margin:0 !important
    }
    .divider{
        margin:0 !important;
    }
    .main-nav{
        margin:0 !important;
    }
    .nav-bar{
        margin:auto !important;
    } 
}
@media screen and (min-width:577px) and (max-width:1000px){
    body{
        margin:0 3rem !important;
    }
    .divider{
        margin:0 !important;
    }
    .main-nav{
        margin:0 !important;
    }
    .nav-bar{
        margin:0 !important;
    }

}
@media screen and (min-width:1001px) and (max-width:1500px){
    body{
        margin:0 5rem !important;
    }
}