body{
    background-image:url('./Images/background12.png');
    background-size:63rem;
    background-position: top;
    margin:0 18rem !important;
    font-family:'Lucida Grande''Lucida Sans';
}
p{
    margin-bottom: 0 !important;
}
/* Top nav */
.top-links{
    color:#72757C;
    font-size: x-small;
}
.logo-cart{
    height: 0.8rem;
}
.checkout{
    color:rgb(80, 96, 158);

}
.top-sep{
    border-right:0.01rem solid #72757c;
    opacity: 0.2;
    height:0.8rem;
}
/* Top Nav end */

/* nav-bar */
.nav-2{
    margin:0 -18rem !important;
    background-color: #DAD8D9;
}
.nav-bar{
    margin:0 18rem;
}
.nav-lists{
    padding:0rem 0.9rem 0.3rem 0.9rem !important;
    border-radius: 0 !important;
}
.nav-links{
    color:rgba(1,1,1,0.8);
    font-size:0.7rem;
}
.nav-sep{
    border:0.01rem solid rgba(255,255,255,0.3);
}
/* Search field */
.search-input{
    width:10rem;
    height:1.1rem;
    box-shadow:-0.1rem -0.11rem #72757c;
}
::-webkit-input-placeholder{
    font-size: small;
}
.search-submit{
    border: 1px solid #72757c;
    border-radius: 5px;
    font-size: x-small;
    background-color: white;
}
/* Nav 2 end */

/* Nav 3 */
.nav-3-lists{
    /* padding:0.2rem 0; */
    list-style-type:circle;
    color:rgba(1,1,1,0.5);
    padding:0.3rem 0;
}
.nav-3-ul>li:nth-child(1){
    margin-top:-2px !important;
}
.nav-3-links{
    color:rgb(80, 96, 158);
    font-size: small;
}
.bridal-img{
    height:2rem;
}
/* Nav 3 end */

/* main */
.recipe-img{
    width: 73%;
    background-image: url(./Images/Recipe.jpg);
    background-size:cover;
    border:0.5rem solid white;
}
/* Main end */

/* aside */
.aside-content{
    width: 27%;
    background-color:rgba(42, 40, 40, 0.929);
    /* rgba(57,54,53,1); */
    border:0.5rem solid white;
    border-left: 0;
    height: fit-content;
}
.aside-header{
    padding-left:0.15rem;
}
.aside-div{
    border:1px solid rgba(255,255,255,0.2);
}
.aside-ul{
    border-radius: 0 !important;
}
.aside-lists{
    border:none;
    border-bottom:0.05rem solid rgba(255,255,255,0.1);
    padding:0.2rem 0rem !important;
}
.aside-links{
    font-size:0.8rem;
}
.aside-para{
    color:rgba(255,255,255,0.5);
    font-size:0.8rem !important; 
    margin:0.2rem 1.7rem;
}
.aside-para-link{
    font-size: x-small;
    color:rgba(255,255,255,0.6);
}
/* aside end */

/* Bottom section */
.bottom-section{
    border: 0.5rem solid rgba(46,44,46,255);
    background-color: #fefeff;
}
.bottom-para{
    font-size:0.95rem !important;
    margin-bottom: 0;
}
.para-small{
    font-size: 0.7rem;
}
.bottom-para-link{
    font-size: small;
    color:rgba(80, 96, 158,0.9);
}
.bottom-content-div:nth-child(3)>p{
    width:fit-content;
    margin-right:10rem;
}
.para-small-link{
    padding-bottom: 1rem;
}
.bottom-content-div:nth-child(1){
    background-image: url('./Images/promo_glass.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: content-box;
    background-position:left;
}
.bottom-content-div:nth-child(2){
    background-image: url('./Images/promo_plates.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: content-box;
    background-position: bottom;
}
.bottom-content-div:nth-child(3){
    background-image: url('./Images/promo_album.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: content-box;
    background-position: right;
}
/* Bottom section end */

/* footer */
.footer-links{
    color:rgba(255,255,255,0.5);
    font-size: x-small;
}
.footer-sep{
    border-right: 1px solid rgba(255,255,255,0.3);
    height:0.7rem;
    margin-top: 0.6rem;
}
.footer-para{
    color:rgba(255,255,255,0.5);
    font-size: x-small;
    letter-spacing:1px;
    font-weight: lighter;
    width: fit-content;
}
.search-input-bottom{
    width:11rem;
    height: 1.2rem;
    border: 1px solid #72757C;
}
.search-submit-bottom{
    border: 1px solid #72757C;
    border-radius: 5px;
    font-size:0.7rem;
    padding-top:3px;
    padding:0.04rem 0.35rem;
}
/* footer end */

/* utils */
.white-border{
    border:2px solid white;
}
.padding-0{
    padding-left:0.1rem !important;
}
.li-icon{
    padding-bottom:0.35rem;
}
.br{
    border:1px solid red;
}
hr{
    margin:0 -18rem;
}
/* Util end */