.employee{
    width:17.5em !important;
    background-color:rgba(1,1,1,0.1) !important;
    height: fit-content;
}
.employee:not(:nth-child(4n+1)){
    margin-right: 0.8em !important; 
}
.picture{
    height:80px !important;
    width:80px !important;
}
.employee-name{
    font-size:0.8rem;
    font-weight:500;
    word-spacing: 1px;
}
.employee-name-a{
    color:black !important;
}
.job-title{
    font-size:0.7rem;
    color: rgba(1,1,1,0.6);
    word-spacing: 1px;
}
.department{
    font-size:0.7rem;
    color: rgba(1,1,1,0.6);
    word-spacing: 1px;
}
.contact-icon{
    color:rgba(1,1,1,0.3);
    font-size: 0.8rem;
}



.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}
.dark-modal .close {
    color: white;
}
.light-blue-backdrop {
    background-color: #5cb3fd;
}