body{
    margin: 0;
    display: grid;
}
/* nav */
nav{
    background-color: #3399CC;
    z-index: 1;
}
.title{
    font-family: 'Quattrocento Sans', sans-serif;
    text-transform: uppercase;
    color:white;
    padding:0.1rem 2rem;
    font-weight: 200;
    font-size:3.5rem;
    text-decoration: none;
}
/* nav-bar */
.nav-bar{
    background-color: #333;
}
.nav-bar>ul{
    margin: 0.5rem 0;
}
.dropdown-nav{
    display:none;
}
.nav-bar>ul>li{
    display: inline-flex;
    list-style: none;
    padding-right:1.7rem;
    
}
.list{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    padding:6px auto;
}
.list:hover{
    background-color:white;
    color:#2c3e50;
    border-radius: 3px;
}
.blog-icon{
    position:relative;
    float: right;
    top:-0.1rem;
}
/* dropdown-nav */
.check-btn{
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 30px;
    line-height: 3em;
    text-align: center;
    cursor: pointer;
    display: none;
}
#check{
    display:none;
}
/* Main */
main{
    margin:2em 4em;
}
/* News */
.news{
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #CCCCCC;
    width: fit-content;
}
.heading{
    font-weight: 500;
    text-shadow:  0 1px black;
}
.news>h2{
    text-transform: uppercase;
    padding:0.5rem 1rem 0.1rem 1rem;
    margin: 0;  
}
.news>ul{
    padding: 0;
    margin-top: 0;
}
.news-list{
    list-style:none;
    font-size: medium;
    padding:0.6rem 1.5rem;
    
}
.news-list::before{
    content: '-';
    padding-right: 1rem;
} 
/* Text */
.text{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin:1.5rem 0;
}
.text>h2{
    margin-top: 2rem; 
    margin-bottom: -0.3rem;
}
.para-text{
    font-size: medium;
    word-spacing:0.3rem;
    padding-bottom: 0.3rem;
}
/* dropdown-nav menu */
.dropdown-nav{
    background:#2c3e50;
    width:fit-content;
    padding: 0;
    text-align: center;
    float: right;
    list-style: none;
    border-radius: 10px;
    margin-right: -2rem;
    margin-bottom: -100%;
    margin-top:-1.2rem;
    width:10em;
}
.dropdown-nav>li{
    list-style: none;
    padding:1rem;
    transition: width 3s;
}
.dropdown-list{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-decoration: none;
    padding:5px;
}
.dropdown-nav>li:hover{
    background-color:black;
    color:#2c3e50;
    border-radius: 3px;
}
.dropdown-nav>.blog-icon{
    float:none;
}
/* Responsive */
@media screen and (max-width:576px){
    main{
        padding:0;
        margin:1.5rem;
    }
    .nav-bar{
        display: none;
    }
    nav{
        border-bottom: 2px solid;
    }
    .title{
        font-size: 2rem;
        padding-left:1rem;
    }
    .check-btn{
        display:block;
    }
    #check:checked ~ .dropdown-nav{
        display: block;
    }
}
@media screen and (min-width:577px) and (max-width:758px){
    .title{
        text-align: center;
    }
}
