/* nav bar */
.navbar{
    border-bottom: 1px solid rgba(1,1,1,0.1);
}
.header-para{
    color:rgba(1,1,1,0.6);
}
.welcome{
    text-shadow: none !important;
}
.user-text{
    color:rgba(1,1,1,0.6);
    text-shadow:0px 1px rgba(1,1,1,0.6);
}
.user-logo{
    height:50px;
    width:50px;
    border:1px solid;
}
/* Filters */
.filter-li{
    list-style: none;
    color:rgba(1,1,1,0.6);
    text-transform: capitalize;
    font-size:0.9rem;
}
.filter-li-a{
    color:rgba(1,1,1,0.6);
}
/* Search */
.search-alphabets-li{
    border-radius: 0 !important;
    text-transform: uppercase;
    background-color: rgba(0,176,253,255) !important;
    color: white !important;
    
}
.search-bar>select{
    -webkit-appearance:none; /* Safari and Chrome */
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position:9rem 0.2rem;
}
.search-input{
    background: url('./Address\ Book/search-icon.svg');
    background-size:1rem;
    background-position:0.4rem 0.5rem;
    background-repeat: no-repeat;
    padding-left:2rem;
    border:1px solid rgba(1,1,1,0.3);
    height:2.1rem;
}
::-webkit-input-placeholder{
    color: rgba(1,1,1,0.6);
}
.clear-button{
    background-color:rgba(105,186,0,255);
}
.filter-options{
    border: 1px solid rgba(1,1,1,0.3);
    text-transform: capitalize;
    color:rgba(1,1,1,0.6);
}
.add-employee{
    background-color: rgba(0,176,253,255);
}
/* employee section */
.employees{
    border: 1px solid rgba(1,1,1,0.2);
}
.employee{
    position:sticky;
    width:280px;
    background-color:rgba(1,1,1,0.1) !important;
    height: fit-content;
}
.picture{
    height:80px !important;
    width:80px !important;
}
.employee-name{
    font-size:0.8rem;
    font-weight:500;
    word-spacing: 1px;
}
.employee-name-a{
    color:black !important;
}
.job-title{
    font-size:0.7rem;
    color: rgba(1,1,1,0.6);
    word-spacing: 1px;
}
.department{
    font-size:0.7rem;
    color: rgba(1,1,1,0.6);
    word-spacing: 1px;
}
.contact-icon{
    color:rgba(1,1,1,0.3);
    font-size: 0.8rem;
}
.note{
    font-size: 0.8rem !important;
}
/* Show Employeee Modal */
.show-employee-modal{
    background-color: rgba(31, 66, 99,1) !important;
}
.show-employee-modal-picture{
    height:10rem;
    width:10rem;
    border-radius: 10px;
}
.show-employee-modal-label{
    color:wheat;
    font-size: small;
}
/* util */
.row>*{
    padding:0 !important;
}
.br{
    border-bottom: 1px solid;
}
