<ul class="list-group list-group-horizontal d-flex justify-content-between">
    <li class="search-alphabets-li list-group-item"><a href="#"class="search-alphabets-li-a text-decoration-none text-white"><i class="fa-solid fa-user"></i></a></li>
    <li *ngFor="let i of alphabets" class="search-alphabets-li list-group-item"><a href="#" class="search-alphabets-li-a text-decoration-none text-white">{{i}}</a></li>
</ul>
<div class="search-bar d-flex my-auto py-3">
     <p class="search-para text-capitalize fw-normal my-auto">search</p>
    <input type="text" class="search-input mx-3 my-auto pe-lg-5" placeholder="Enter any keyword" #searchInput>
    <a href="#" type="submit" class="clear-button text-capitalize text-decoration-none my-auto px-3 py-1 text-white ms-3 me-5">clear</a>
    <p class="filter-para my-auto mx-2">Filter by</p>
    <select name="filter" id="filter" class="filter-options ps-2 pe-5 pb-1">
        <option  *ngFor="let filter of searchFilter" value={{filter}} class="text-capitalize">{{filter}}</option>
    </select>
    <a href="#" class="add-employee text-capitalize ms-auto text-decoration-none text-white my-auto px-2 py-1 fw-bold" (click)="openVerticallyCentered(content)">add employee</a>
</div>
<p class="note"><b>Note:</b> Please use the advanced filter options to refine your results.</p>

<ng-template #content>
    <app-employee-details></app-employee-details>
</ng-template>
