body{
    background-image: url('images/bg.jpg');
    background-position-x:left;
    background-size: cover;
    margin:0 17rem !important;
    font-family: 'Trebuchet MS';
}
a:hover{
    color: black;
}
/* Navbar */
.nav-bar{
    background-color:rgba(2, 20, 43, 0.889);
}
.nav-tab-container{
    border:1px solid #364B60;
    background: transparent;
}
.list-item{
    background:transparent !important;
    border: none;
}
.logo{
    height: 8em;
    width:auto;
    top:0.9em;
}
.nav-tabs{
    border-bottom: none;
    margin:auto;
}
.nav-lists>a{
    text-transform: uppercase;
    font-size: medium;
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    word-spacing:0.3rem;
    font-weight:normal;
    text-shadow: 0.01rem 0 #a3d7f1;
    color:#a3d7f1;
    padding: 0.5rem 1rem;
}
.separator{
    border-right:0.1rem solid white;
    height:0.9rem;
    margin-top:0.8rem;
}
.top-sep{
    height:0.7rem;
    margin-top: 0.2rem;
    padding-left: 0.5rem;
    margin-right:0.5rem;
}
/* Main content */
main{
    background:linear-gradient(to bottom right,rgba(0,0,0,0.8),rgba(22, 43, 70, 1));
}

/* Footer */
footer{
    background-color: rgba(26, 26, 26, 0.5);
    color:#D5DBF3;
}
.footer>*{
    font-size: small;
    font-weight:500;
    margin-bottom: 0;
    word-spacing: 0.3rem;
}
.footer-ul>li{
    list-style: none;
}
.footer-ul>li:not(:last-child)::after{
    content: '|';
    padding:0 0.4rem;
}
.footer-links{
    font-family: 'Manrope', sans-serif;
    font-weight:500;
}
/* Top links */
.top-links{
    margin-bottom: 1.5rem;
    padding-bottom:0;
}
.top-ul{
    background-color: rgba(20, 19, 19, 0.4);
     border-radius: 0 !important;
}
.top-ul>li{
    list-style: none;
    padding:-0.2em 0.2rem 0 0.2rem !important;
    margin-top:-0.4rem;
}
.top-ul-links{
    font-family: 'Manrope', sans-serif;
    font-size:x-small;
    font-weight:500;
    text-decoration: none;
    word-spacing: 0.1rem;
    letter-spacing: 1px;
}