body{
    background-image: url('images/bg.jpg');
    background-size: cover;
    margin:0 21rem !important;
    font-family: 'Trebuchet MS';
}
a:hover{
    color: black;
}
/* Navbar */
.nav-bar{
    background-color:rgba(2, 20, 43, 0.889);
    opacity: 0.9;
}
.nav-tab-container{
    border:1px solid #364B60;
    opacity: 1;
}
.list-item{
    background:transparent !important;
    border: none;
}
.logo{
    height: 8em;
    width:auto;
    top:0.9em;
}
.nav-tabs{
    border-bottom: none;
    margin-top:0.23rem !important;
    
}
.nav-lists{
    padding:0.4rem 0 !important;
}
.nav-lists>a{
    text-transform: uppercase;
    font-size:1em;
    text-decoration: none;
    word-spacing:0.3rem;
    color:#a3d7f1;
    padding:0.2rem 1rem;
}
.active{
    background-color: #355372 !important; 
    border-radius:3px; 
    color: white !important;
}
.nav-lists>a:hover{
    background-color: #355372 !important; 
    border-radius:3px; 
    color: white !important;
}
.separator{
    border-right:1px solid white;
    height:0.8rem;
    margin-top:1em;
}
.top-sep{
    border-right:1px solid white;
    height:0.5rem;
    margin-top: 0.25rem;
    padding-left: 0.5rem;
    margin-right:0.5rem;
}
/* Main content */
main{
    background:linear-gradient(to bottom right,rgba(0,0,0,0.8),rgba(22, 43, 70, 1));
}

/* Footer */
footer{
    background-color: rgba(26, 26, 26, 0.5);
    color:#D5DBF3;
}
.footer>*{
    font-size:0.75rem;
    margin-bottom: 0;
    word-spacing: 0.2rem;
    font-size: 0.7rem;
}
.footer>p{
    margin-top: 2px;
}
.footer-ul>li{
    list-style: none;
}
.footer-ul>li:not(:last-child)::after{
    content: '|';
    padding:0 0.4rem;
}
.footer-links{
    font-size: small;
}
/* Top links */
.top-links{
    margin-bottom: 1.5rem;
    padding-bottom:0;
}
.top-ul{
    background-color: rgba(20, 19, 19, 0.4);
    padding:0.1rem 0.4rem !important;
    border-radius: 0 !important;
}
.top-ul>li{
    list-style: none;
    padding:0 0.1rem 0 0.1rem !important;
    margin-top:-0.4rem;
}
.top-ul-links{
    font-size:0.6rem;
    font-weight:500;
    text-decoration: none;
    letter-spacing: 0.5px;
}

/* Responsive */
@media screen and (max-width:1500px){
    body{
        margin:0 !important;
    }
}
@media screen and (max-width:576px){
    .top-links{
        margin-bottom: 10rem !important;
    }
    .nav-tabs{
        display:block;
        font-size: small;
        padding:0 !important;
    }
    .nav-lists>a{
        padding:0.5rem 0.3rem !important;
    }
    .logo{
        position: relative;
        left:8em;
        top: 3em !important;
    }
    .footer{
        display: flex;
        flex-direction:column;
    }
    .footer>p{
        text-align: center;
    }
    .footer>*{
        justify-content: center;
    }
}
@media screen and (min-width:577px) and (max-width:750px){
    .top-links{
        margin-bottom: 10rem !important;
    }
    .nav-tabs{
        display:block;
        font-size: 1.1em;
        margin:0 !important;
    }
    .nav-lists>a{
        padding:0.3rem 0.3rem !important;
        margin:0.1rem;
        
    }
    .logo{
        position: relative;
        left:15em;
        top: 3em !important;
    }
    .footer{
        display: flex;
        flex-direction:column;
    }
    .footer>p{
        text-align: center;
    }
    .footer>*{
        justify-content: center;
    }
}
@media screen and (min-width:751px) and (max-width:990px){
    .logo{
        top:-0.2rem;
    }
    .nav-tabs{
        font-size: 0.8em;
        margin:0 !important;
    }
    .nav-lists>a{
        padding:0.3rem 0.4rem !important;
    }
    .nav-tabs>.separator{
        height: 0.6rem;
        margin-top: 1.2em;
    }
}